#navbar {
  padding-left: 5px;
  border-top: 2px solid rgb(15, 20, 9);
  border-bottom: 2px solid rgb(15, 20, 9);
}

#button {
  border: 2px solid black;
  
}


.navbar-toggler-icon {
  background: url(./hamburger-menu.svg);
  
  
}

#Chickene {
  border-bottom: 2px solid rgb(15, 20, 9);
}

#Beefe {
  border-bottom: 2px solid rgb(15, 20, 9);
}


@media (min-width: 100px) and (max-width: 700px) {
  #navbarSupportedContent {
    margin: 0px -18px -8px -18px;
    border-top: 0px solid rgb(15, 20, 9);
  }
}